:root {
    --background-color-primary: ##a7a7a7;
    --background-color-secundary: #DAA520; /* ou #EEE8AA */
    --background-color-dark-secundary: #4a4949;
    --font-family-primary: Arial, Helvetica, sans-serif;
    --font-family-secundary: "Courier New", Courier, monospace;
}
